<!-- templates/index.html -->
<html>
  <head>
    <title>Flask Shop</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>{{message}}</h1>

    <h3>On sale this week alone:</h3>
    <ol>
      <li>Flask By Example</li>
      <li>Uncluttered Flask</li>
      <li>Flask From First Principles</li>
    </ol>
	
	<h4 id="version" style="color:white;">Backbone</h4>
	
	<h3>Related</h3>
	<img src="/static/images/book1.png" alt="Related Book 1" width="20%" height="auto">
	<img src="/static/images/book2.png" alt="Related Book 2" width="20%" height="auto">
	
	<script src="/static/scripts.js" charset="utf-8"></script>
	<script src="/static/lib/underscore.js" charset="utf-8"></script>
    <script src="/static/lib/backbone.js" charset="utf-8"></script>
    <script type="text/javascript">
      document.getElementById('version').innerHTML = "Proudly built with Backbone.js version " + Backbone.VERSION;
    </script>
  </body>
</html>